<!DOCTYPE html>
<html >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Styles -->

	<!--  favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/static/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/img/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/static/img/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/static/img/favicons/manifest.json">
	<link rel="mask-icon" href="/static/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!--  seo meta tags -->
	<meta name="Title" content="Coin Market Info">
	<meta name="Keywords" content="crypto-currency, cryptocurrency, multi-wallet, online wallet, multi-cryptocurrency, exchange, online, price, calculator, convert, conversion, bitcoin, altcoin, litecoin, dogecoin, btc, ltc, doge, ilcoin">
	<meta name="Description" content="Crypto-currency market cap rankings, news, charts, and more">
	<meta name="Language" content="english">
	<meta name="Robots" content="INDEX,FOLLOW">
	<!-- /seo meta tags -->


	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

	<!-- DataTables CSS -->
	<link rel="stylesheet" href="js/datatables/media/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="js/datatables/dataTables-responsive/css/dataTables.responsive.css">

	<link rel="stylesheet" href="js/angular-datatables/dist/css/angular-datatables.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/business.css">
	<link rel="stylesheet" href="css/default.css" >


	<title>Coin Market Info</title>

</head>
<body ng-app="myApp" ng-cloak>
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P5K9FS"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-P5K9FS');</script>
	<!-- End Google Tag Manager -->
	<!-- Navigation -->
	<div class="container-fluid header">
		<div class="row">

			<div class="col-md-12">

				<div class="container">

					<div class="row row-eq-height" ng-controller="coinTickerController">
						<div class="col-xs-12 col-sm-12 col-md-4">
							<img src="static/img/logos/navbar-logo-bco-x2.png" alt="" class="img-responsive">
						</div>
						<div class="col-xs-12 col-sm-8 col-md-4">

							<div id="container" style="width:100%; height:100px;"></div>

						</div>
						<div class="col-xs-6 col-sm-2 col-md-2 coin-ticker" ng-class="data.price.usd > 0?'fade in': 'fade'">
							<p class="ct-title">USD
								<span class="no-wrap" ng-class="btc.percent_change_24h > 0 ? 'pct-positive' : 'pct-negative'">{{btc.percent_change_24h}} %</span>
							</p>
							<span class="ct-price no-wrap">$ {{data.price.usd | number:2 }}</span>
							<p class="ct-title2">EUR <span>€ {{data.price.eur | number:2 }}</span></p>
						</div>
						<div class="col-xs-6 col-sm-2 col-md-2 coin-ticker" ng-class="data.price.jpy > 0?'fade in': 'fade'">
							<p class="ct-title">BITCNY
								<span class="no-wrap" ng-class="cny.percent_change_24h > 0 ? 'pct-positive' : 'pct-negative'">{{cny.percent_change_24h}} %</span>
							</p>
							<span class="ct-price no-wrap">¥ {{data.price.jpy | number:2 }}</span>
							<p class="ct-title2">GBP <span>£ {{data.price.gbp | number:2 }}</span></p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>


	<!-- Page Content -->
	<div class="container">

		<div class="row top30">

			<div class="col-lg-12">
				<!-- TradingView Widget BEGIN -->
				<div id="tv-miniwidget-f1f96"></div>
				<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
				<script type="text/javascript">
				new TradingView.MiniWidget({
					"container_id": "tv-miniwidget-f1f96",
					"tabs": [
						"Equities"
					],
					"symbols": {
						"Equities": [
							[
								"BTCUSD",
								"BITSTAMP:BTCUSD|1y"
							]
						]
					},
					"gridLineColor": "#e9e9ea",
					"fontColor": "#83888d",
					"underLineColor": "#dbeffb",
					"trendLineColor": "#4bafe9",
					"activeTickerBackgroundColor": "#edf0f3",
					"large_chart_url": "https://www.tradingview.com/chart/",
					"noGraph": false,
					"width": "100%",
					"height": "200px",
					"locale": "en"
				});
				</script>
				<!-- TradingView Widget END -->


			</div>



		</div>

		<div ng-controller="rssTickerController" class="rss-ticker-container">
			<div ng-repeat="newsItem in loadFeed.news" ng-if="$index % 3 == 0" class="row top30">
				<div class="col-xs-4" ng-repeat="newsItem in loadFeed.news.slice($index, ($index+3 > loadFeed.news ? loadFeed.news : $index+3))">
					<!--  start mediaFeedItems -->
					<div class="media" >
						<div class="media-left">
							<a ng-href="{{newsItem.link}}" target="_blank">
								<img class="media-object" ng-src="{{newsItem.image}}" alt="..." ng-if="newsItem.image.length > 0">
							</a>
						</div>
						<div class="media-body newsItemContainer">
							<a ng-href="{{newsItem.link}}" target="_blank" class="newsItemLink">
								<h4 class="media-heading">{{newsItem.title}}</h4>
							</a>
							<a ng-href="{{newsItem.link}}" target="_blank" class="newsItemLink">
								<span class="font-small" ng-bind-html="newsItem.short_story"></span>
							</a>
							<span class="newsItemAgo">{{ newsItem.pubdate | moment:'fromNow':true }}</span>&nbsp;
							<span class="newsItemSource">{{ newsItem.news_source }}</span>
						</div>
					</div>
					<!--  end mediaFeedItems -->
				</div>
			</div>
		</div>

		<div class="row top30" >

			<div class="col-lg-12">
				<div ng-controller="coinMarketTable as vm">

					<div class="curry-1" ng-hide="true"></div>

					<div class="btn-group pull-right" role="group" aria-label="...">
						<div class="btn-group" role="group">

							<ul class="dropdown-menu">
								<li ng-repeat="(key, value) in apiData.currencyExchangeRates"><a ng-href="#{{key}}">{{key}}</a></li>
							</ul>

						</div>

						<button type="button" class="btn btn-default" ng-click="vm.allData()">All</button>
						<button type="button" class="btn btn-default" ng-click="vm.previousPage()" ng-hide="pageNumber == 1"><span aria-hidden="true">&larr;</span> Previous 100</button>
						<button type="button" class="btn btn-default" ng-click="vm.nextPage()" ng-hide="pageNumber == globalData.tPages">Next 100 <span aria-hidden="true">&rarr;</span></button>
					</div>

					<table datatable=""
					dt-options="vm.dtOptions"
					dt-columns="vm.dtColumns"
					dt-column-defs="vm.dtColumnDefs"
					dt-instance="vm.dtInstance"
					class="row-border hover order-column stripe" width="100%"></table>
				</div>

			</div>
		</div>


		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Coin Market Info </p>
				</div>
			</div>
		</footer>


	</div>
	<!-- /.container -->

	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<!-- <script data-require="bootstrap@3.3.6" data-semver="3.3.6" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

	<script src="js/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="js/datatables/dataTables-responsive/js/dataTables.responsive.js"></script>

	<script src="js/numeral.js"></script>
	<script src="js/curry.js"></script>

	<script src="http://momentjs.com/downloads/moment.min.js"></script>
	<script src="js/highcharts/highcharts.js"></script>
	<script src="js/highcharts/dark-theme.js"></script>


	<script src="https://code.angularjs.org/1.5.6/angular.js"></script>
	<script src="https://code.angularjs.org/1.5.6/angular-resource.min.js"></script>
	<script src="https://code.angularjs.org/1.5.6/angular-animate.min.js"></script>
	<script src="https://code.angularjs.org/1.5.6/angular-sanitize.min.js"></script>

	<script src="js/angular-datatables/dist/angular-datatables.js"></script>

	<script src="scripts/app.js" ></script>

	<script src="scripts/controllers/main.js" ></script>
	<script src="scripts/controllers/globalVarController.js" ></script>
	<script src="scripts/controllers/coinMarketTable.js" ></script>
	<script src="scripts/controllers/rssTickerController.js"></script>
	<script src="scripts/controllers/coinTickerController.js"></script>

	<script src="scripts/services/main.js" ></script>
	<script src="scripts/services/coinMarketFactory.js" ></script>

	<script src="scripts/filters/main.js" ></script>
	<script src="scripts/filters/momentFilters.js" ></script>

	<script type="text/javascript">

	$(function () {

		var jsonUrl = 'https://blockchain.info/charts/market-price?format=json';
		//'https://blockchain.info/charts/market-price?format=json'
		// $('#container').highcharts(json);
		$.getJSON(jsonUrl, function (data) {

			var title = {
				text: 'BTCUSD Price (24h)',
				align: 'left',
				style: {
					"fontSize": "1em",
					"font-weight": "bold",
					"color": "#63c7f7"
				}
			};
			var subtitle = {
				text: null
			};
			var xAxis = {
				categories: [],
				visible : false
			};

			var subdata = [];
			var subserie = [];
			for (var i = data.values.length - 10; i < data.values.length; i++) {
				subdata.push(data.values[i]);
			};
			for(var item in subdata) {

				xAxis.categories.push(moment.unix(subdata[item].x).format("D/M HH:mm"));
				var v2 = subdata[item].y;
				//var v2 = moment.unix(subdata[item].x).format("HH:mm:ss").toString();
				// subserie.push(moment.unix(v2).format("HH:mm:ss"));
				subserie.push(v2);
			}

			var yAxis = {
				title: {
					text: null
				},
				plotLines: [{
					value: 0,
					width: 1,
					color: '#d10079'
				}]
			};

			var tooltip = {
				valueSuffix: ''
			}

			var legend = {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'middle',
				borderWidth: 0,
				enabled: false
			};

			var series =  [
				{
					name: 'BTC-USD',
					data: subserie
				},
			];

			var chart = {
				type: 'areaspline'
			};

			var plotOptions = {
				areaspline: {
					fillColor: 'rgba(99,199,247,.25)'
				}
			};

			var credits = {
				enabled: 0
			};

			var json = {};

			json.title = title;
			json.subtitle = subtitle;
			json.xAxis = xAxis;
			json.yAxis = yAxis;
			json.tooltip = tooltip;
			json.legend = legend;
			json.series = series;
			json.chart = chart;
			json.plotOptions = plotOptions;
			json.credits = credits;

			$('#container').highcharts(json);
		});
	});

	</script>
	<!-- google-analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-80001049-1', 'auto');
	ga('send', 'pageview');

	</script>
</body>
</html>