<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
  <ul class="nav menu">
    <li ng-class="meta.title == 'Dashboard'? 'active':'' "><a href="index.html"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
      <li ng-class="meta.title == 'Register Currency'? 'active':'' "><a href="#/registercurrency">
          <svg class="glyph stroked calendar">
              <use xlink:href="#stroked-calendar"></use>
          </svg>
          Update Price</a></li>
    <li role="presentation" class="divider"></li>
    <li><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>
  </ul>

</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
      <li class="active">{{meta.title}}</li>
    </ol>
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
  </div><!--/.row-->

  <div class="row" ng-hide="true">
    <div class="col-lg-6">
      <h1>Hi {{vm.user.firstName}}!</h1>
      <p>You're logged in!!</p>
      <h3>All registered users:</h3>
      <ul>
          <li ng-repeat="user in vm.allUsers">
              {{user.username}} ({{user.firstName}} {{user.lastName}})
              - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
          </li>
      </ul>
      <p>&nbsp;</p>
      <p><a href="#/login" class="btn btn-primary">Logout</a></p>
    </div>
    <div class="col-lg-6">
      <code>vm</code><br><pre>{{vm | json}}</pre>
      <code>route</code><br><pre>{{logProvider | json}}</pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">ILCoin Price summary</div>
        <div class="panel-body">
          <table bs-table-control="vm.bsTableControl"></table>
        </div>
      </div>
    </div>
  </div><!--/.row-->

</div><!--/.main-->

<!--  view-scripts -->
