<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li ng-class="meta.title == 'Dashboard'? 'active':'' "><a href="index.html"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
        <li ng-class="meta.title == 'Register Currency'? 'active':'' "><a href="#/registercurrency">
            <svg class="glyph stroked calendar">
                <use xlink:href="#stroked-calendar"></use>
            </svg>
            Update Price</a></li>
        <li role="presentation" class="divider"></li>
        <li><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>
    </ul>

</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">{{meta.title}}</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Update Price</h1>
        </div>
    </div><!--/.row-->

    <div class="row" ng-hide="true">
        <div class="col-lg-6">
            <h1>Hi {{vm.currencyfirstName}}!</h1>
            <p>You're logged in!!</p>
            <h3>All registered users:</h3>
            <ul>
                <li ng-repeat="user in vm.allUsers">
                    {{user.username}} ({{user.firstName}} {{user.lastName}})
                    - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
                </li>
            </ul>
            <p>&nbsp;</p>
            <p><a href="#/login" class="btn btn-primary">Logout</a></p>
        </div>
        <div class="col-lg-6">
            <code>vm</code><br><pre>{{vm | json}}</pre>
            <code>route</code><br><pre>{{logProvider | json}}</pre>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Add Currency Value</div>
                <div class="panel-body">
                    <form name="form" ng-submit="vm.register()" role="form">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.date.$dirty && form.date.$error.date }">
                            <label for="date">Date</label>
                            <div class='input-group' id='datetimepicker1'>
                                <input type="text" class="form-control"
                                       name="date" id="date"
                                       datetimepicker
                                       datetimepicker-options="{{ vm.scoped }}"
                                       placeholder="..."
                                       ng-model="vm.currency.date">
                            </div>


                            <span ng-show="form.date.$dirty && form.date.$error.required" class="help-block">Date is required</span>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': form.price.$dirty && form.price.$error.required }">
                            <label for="price">Price</label>
                            <input type="text" name="price" id="price" class="form-control" ng-model="vm.currency.price"
                                   required/>
                            <span ng-show="form.price.$dirty && form.price.$error.required" class="help-block">Price is required</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Add</button>
                            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            <a href="#/" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">

        </div>
    </div><!--/.row-->

</div><!--/.main-->

<!--  view-scripts -->

